// Theme Colors //
$nav-title-color: #ec370a;
$nav-footer-bg: #1A1F36;
$border-nav-img: 1px solid #000;
$primary-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
$link-color: #E76F51;
$hover-link-color:  #0A84FF;
$main-color: #101820;
$gradient-bg: linear-gradient(135deg, #101820, #1A1F36);
$primary-text-color: #5AC8FA;
$prymary-h-color: #ec370a;
$secondary-text-color: #E0E0E0;
$third-text-color: #333;
$fourth-text-color: #666;
$button-bg:#0A84FF;
$button-color: #F5F5F5;
$button-hover: #5AC8FA;
$footer-hover: #E76F51;
$button2-bg: #ec370a;
$service-bg: #f9f9f9;






